*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: 'Quicksand', sans-serif;
}
:root{
    --prymari-color: #ACD9B2;
    --Black-color: #404040;
    --text-color: #797979;
    --nav-color: #C7C7C7;
    --gray-color: #F7F7F7;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
header{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    border-bottom: 1px solid var(--nav-color);
}
header nav{
    display: flex;
    align-items: center;
}
header nav picture{
    width: 144px;
    height: 30px;
    margin-left: 38px;
    cursor: pointer;
}
header nav picture img{
    width: 100%;
    height: 100%;
}
header nav ul {
    display: flex;
    margin-left: 30px;
}
header nav ul li{
    font-size: 1.6rem;
    margin-left: 30px;
    cursor: pointer;
    color: var(--nav-color);
    font-weight: 500;
    transition: transform 1s linear;
}

header nav ul li a{
    color: var(--nav-color);
    font-weight: 500;
}

header nav ul li:hover{
    border-bottom: 1px solid var(--prymari-color) ;

    transform: scale(1.2);
    transition: transform 400ms linear;
}

header div{
    margin-right: 38px;
    display: flex;
    align-items: center;
}
header div .shopping {
    width: 30px;
    height: 30px;
    background-image: url("https://img.icons8.com/cotton/344/shopping-trolley--v2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: 20px;
}
header div .account a{
    font-size: 1.6rem;
    color: var(--nav-color);
    font-weight: 500;
}

.header__index nav ul li:nth-child(1), .header__clothes nav ul li:nth-child(2), .header__electronics nav ul li:nth-child(3), .header__furniture nav ul li:nth-child(4), .header__toys nav ul li:nth-child(5), .header__other ul li:nth-child(6), .header__login div p {
    border: 1px solid var(--prymari-color);
    color: var(--prymari-color);
    padding: 2px;
    border-radius: 6px;
}

.header__login div p a{
    color: var(--prymari-color);
}
/* Here start the main home */

.main__home,  .main__clothes, .main__electronics, .main__furniture, .main__toys, .main__other{
    
    width: 95%;
    margin: 0 auto;
}

.main__home-search{
    display: flex;
    margin: 40px 0;
    align-items: center;
}
.main__home-search input{
    width: 339px;
    height: 42px;
    background-color: var(--gray-color);
    border: none;
    border-radius: 8px;
    margin-right: 20px;
    padding: 4px;
    padding-left: 20px;
}

.main__home-search input:hover{
  border: 1px solid var(--prymari-color);
}

.main__home-search a{
    margin-right: 40px;
    width: 80px;
    height: 40px;
    background-color: var(--prymari-color);
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
}
.main__home-search p {
    font-size: 1.4rem;
}
.main__home-search p b{
    font-size: 1.4rem;
    margin-right: 10px;
}
.main__home-search span{
    width: 15px;
    height: 15px;
    background-image: url("https://img.icons8.com/ios/344/double-left.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transform: rotate(-90deg);
    margin-left: 5px;
}

/* here start the cards */

.main__home-content{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 335px);
    gap: 20px;
}
.main__home-card{
    
    transition: transform 600ms linear ;
}
.main__home-card:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 400ms linear ;
}

.main__home-content .main__home-card picture{
    width: 100%;
    height: 50%;
}

.main__home-content .main__home-card picture img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 20px;
}
.home__card-info{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.home__card-info .card-info__left p:nth-child(1){
    font-size: 1.6rem;
    color: var(--Black-color);
    font-weight: bold;
}
.home__card-info .card-info__left p:nth-child(2){
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
    margin-top: 5px;
}
.home__card-info figure{
    width: 40px;
    height: 40px;
    background-color: var(--prymari-color);
    border-radius: 50%;
    text-align: center;
    padding: 8px;
}
.home__card-info figure img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

/* Here start the footer */

footer{
    width: 100%;
    height: auto;
    margin-top: 20px;
  border-top: 1px solid var(--nav-color);
    
}
.footer__top{
    width: 95%;
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid var(--nav-color);
    justify-content: space-between;
    margin: 0 auto;
}
.footer__top-first div{
    width:80px;
    height: 80px;
    background-image: url("https://img.icons8.com/emoji/344/envelope-with-arrow.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.footer__top-second div{
    width:80px;
    height: 80px;
    background-image: url("https://img.icons8.com/ios-glyphs/344/unpacking.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.footer__top-third div{
    width:80px;
    height: 80px;
    background-image: url("https://img.icons8.com/ios-filled/344/security-checked.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.footer__top-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__top-card h3{
    font-size: 2.0rem;
    font-weight: 400;
    color: var(--Black-color);
    margin-top: 20px;
    
}

.footer__top-card p{
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.8rem;
    text-align: center;
    margin-top: 10px;
}

.footer__top-card a{
    font-size: 1.4rem;
    color: #1259c3;
    cursor: pointer;
    font-weight: 400;
    margin-top: 10px;
}

.footer__bottom{
    width: 95%;
    display: flex;
    padding-top: 10px;
    margin: 0 auto;
    flex-direction: column;
}

.footer__bottom-top{
    display: flex;
    margin-bottom: 10px;
}

.footer__bottom-top li{
    margin-right: 20px;
    cursor: pointer;
    font-size: 1.3rem;
    color: var(--Black-color);
}

/* Here start the login */

.body__login{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.main__login{
    width: 100%;
    display: grid;
    place-items: center;
}
form{
    width: 341px;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 70px;
}
form label{
    font-size: 1.4rem;
    font-weight: 700;
    color: #000000;
}
form input{
   border: none;
   height: 42px;
   background-color: #f7f7f7f7;
   border-radius: 12px;
   padding-left: 12px;
   margin-top: 5px;
}
form input:hover{
    border: 1px solid var(--prymari-color);
 }
.input__firts{
    margin-bottom: 15px;
}
.button__first{
    width: 100%;
    height: 59px;
    background-color: var(--prymari-color);
    border-radius: 12px;
    border: none;
    margin-top: 30px;
    cursor: pointer;
}
.button__first a{
    color: white;
    font-weight: 700;
    font-size: 1.8rem;
}
form p{
    text-align: center;
    margin-top: 30px;
}

form p a{
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--prymari-color);
}
.button__second{
    width: 100%;
    height: 59px;
    border: 1px solid var(--prymari-color);
    background-color: white;
    margin-top: 60px;
    border-radius: 12px;
    cursor: pointer;
}
.button__second a{
    color: var(--prymari-color);
    font-size: 1.8rem;
    font-weight: 700;
}

/* Here start the shopping cart page */

/* .body__shoppingCard{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
} */
main{
    width: 100%;
    display: grid;
    place-items: center;
}
section{
    margin-top: 20px;
    margin-bottom: 20px;
}
.container{
    width: 384px;
    margin-top: 20px;
}
.container h2{
    width: 200px;
    display: flex;
    font-size: 1.8rem;
    font-weight: 700;
    color: #000000;
    align-items: center;
    cursor: pointer;
}
.container h2 div{
    width: 20px;
    height: 20px;
    background-image: url("https://img.icons8.com/material-outlined/344/long-arrow-up.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transform: rotate(-90deg);
    margin-right: 5px;
}
.container .card {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 20px;
    align-items: center;
}

.container p {
  font-size: 1.6rem;
  font-weight: 700;
  color: #404040;
  cursor: pointer;
}

.container .card div {
   display: flex;
   align-items: center;
}

.container .card div p {
    margin-left: 10px;
    font-size: 1.4rem;
    font-weight: 400;
    color: #797979;
 }

.container .card div img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 12px;
    cursor: pointer;
}

.container section .total{
    display: flex;
    margin-top: 60px;
    background-color: #f7f7f7;
    width: 100%;
    height: 66px;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    cursor: pointer;
}

.container section button{
    width: 100%;
    height: 59px;
    border: none;
    background-color: var(--prymari-color) ;
    margin-top: 20px;
    border-radius: 12px;
    cursor: pointer;
}

.container section button a{
   color: white;
   font-size: 1.8rem;
   font-weight: 700;

}